@import 'src/styles/constants.scss';
@import 'src/styles/mixins';

.link {
  @include font(1.6rem, 150%, 400, $grayFifthColor);
  margin-right: 14px;


  &List {
    display: flex;
    align-items: center;
    padding: 38px 100px;
    margin: 0 auto 35px;
  }

  &Arrow {
    margin-right: 25px;
  }

  &Title {
    margin-left: 34px;
    @include font(1.6rem, 150%, 400, $blackColor);
  }
}