@import 'src/styles/constants';

.slick-list {
  height: 582px;
  width: 876px;
  overflow: hidden;
}

.slick-active {
  opacity: 1;
  display: block;
  margin-right: 24px;
  width: 372px;
  height: 486px;
  overflow: hidden;
}

.slick-current {
  display: block;
  width: 404px;
  height: 582px;
}

.slick-next {
  position: absolute;
  margin-right: 47px;
  width: 64px;
  height: 64px;
  right: 0;
}

.custom-dots {
  display: flex !important;
  gap: 35px;
  position: absolute;
  top: 526px;
  margin-left: 428px;
  width: 120px;
  cursor: pointer;
}

.custom-dots li {
  margin-right: -27px;
  width: 27px;
  height: 27px;
}

.custom-dots #first_ellipse {
  color: $graySixthColor;
}

.custom-dots #second_ellipse {
  color: $whiteColor;
}

.slick-active #second_ellipse {
  color: $primaryColor;
}

.slick-active #first_ellipse {
  color: $primaryColor;
}

.custom-dots li::marker {
  content: ''
}

