@import 'src/styles/constants.scss';
@import 'src/styles/mixins';

.radioLabel {
    -webkit-tap-highlight-color: transparent;
    position: relative;

}

.radioInput {
    margin: 0;
    visibility: hidden;
}

.radioInput:checked + span {
    background-color: $blackColor;
    transition: background-color 300ms ease;

}

.radioInput:checked ~ .content {
    display: block;
    transition: 300ms ease;
    margin-bottom: 11px;
}

.customRadio {
    left: -8px;
    top: 6px;
    cursor: pointer;
    width: 14px;
    height: 14px;
    display: block;
    transition: background-color 300ms ease;
    border: solid 1px $grayFifthColor;
    border-radius: 50%;
    margin-bottom: 11px;
}

.title {
    position: absolute;
    width: 175px;
    left: 25px;
    top: 9px;
    @include font(1.6rem, 150%, 400, $blackColor);
}

.content {
    transition: background-color 300ms ease;
    display: none;
    @include font(1.6rem, 150%, 300, $grayFifthColor);
}
