@import 'src/styles/constants.scss';

.wrapper {
  display: flex;
  align-items: center;
  //padding-left: 54px;
  margin: 0 auto;
  justify-content: center;
}

.logo {
  padding: 27px 0 28px;
}

.nav {
  display: flex;
  gap: 75px;
  margin-left: 266px;
}

.userMenu {
  display: flex;
  gap: 45px;
  margin-left: 158px;
}

.svg {
  color: $blackColor;
}

.svg:hover {
  color: $primaryColor;
  transition: 300ms ease;
}