.wrapper {
  display: flex;
  align-items: center;
  padding-left: 54px;
}

.logo {
  padding: 29px 0 30px;
}

.nav {
  display: flex;
  gap: 75px;
  margin-left: 266px;
}

.userMenu {
  display: flex;
  gap: 45px;
  margin-left: 158px;
}